@import "~antd/dist/antd.css";
.faketextArea {
  background-color: white;
  border: 1px solid black !important;
  font-size: 16px !important;
  padding: 16px !important;
  overflow: hidden;
  border-radius: 10px;
  height: 40px;
  width: 170px;
  margin: auto;
  align-items: center;

}
.lista {
  list-style: none;
  font-size: 25px;
  text-align: center;
}
.mapa {
  width: 97%;
  height: 60%;

  top: 20px;
  margin-left: 20px;

  border-radius: 20px;
}
.pop {
  background: white;

  padding: 1px;
}
